<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swimClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>servlet.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletamentoRegistrazione</display-name>
    <servlet-name>CompletamentoRegistrazione</servlet-name>
    <servlet-class>servlet.CompletamentoRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletamentoRegistrazione</servlet-name>
    <url-pattern>/CompletamentoRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaAdmin</display-name>
    <servlet-name>PaginaAdmin</servlet-name>
    <servlet-class>servlet.PaginaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaAdmin</servlet-name>
    <url-pattern>/PaginaAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaAbilita</display-name>
    <servlet-name>CreaAbilita</servlet-name>
    <servlet-class>servlet.CreaAbilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaAbilita</servlet-name>
    <url-pattern>/CreaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneProposte</display-name>
    <servlet-name>GestioneProposte</servlet-name>
    <servlet-class>servlet.GestioneProposte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneProposte</servlet-name>
    <url-pattern>/GestioneProposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneProposteActions</display-name>
    <servlet-name>GestioneProposteActions</servlet-name>
    <servlet-class>servlet.GestioneProposteActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneProposteActions</servlet-name>
    <url-pattern>/GestioneProposteActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonitorSistema</display-name>
    <servlet-name>MonitorSistema</servlet-name>
    <servlet-class>servlet.MonitorSistema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorSistema</servlet-name>
    <url-pattern>/MonitorSistema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaGuest</display-name>
    <servlet-name>PaginaGuest</servlet-name>
    <servlet-class>servlet.PaginaGuest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaGuest</servlet-name>
    <url-pattern>/PaginaGuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaGuest</display-name>
    <servlet-name>RicercaGuest</servlet-name>
    <servlet-class>servlet.RicercaGuest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaGuest</servlet-name>
    <url-pattern>/RicercaGuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletaModificaAdmin</display-name>
    <servlet-name>CompletaModificaAdmin</servlet-name>
    <servlet-class>servlet.CompletaModificaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletaModificaAdmin</servlet-name>
    <url-pattern>/CompletaModificaAdmin</url-pattern>
  </servlet-mapping>
</web-app>