<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>swimClient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registrazione</display-name>
    <servlet-name>Registrazione</servlet-name>
    <servlet-class>servlet.Registrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registrazione</servlet-name>
    <url-pattern>/Registrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletamentoRegistrazione</display-name>
    <servlet-name>CompletamentoRegistrazione</servlet-name>
    <servlet-class>servlet.CompletamentoRegistrazione</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletamentoRegistrazione</servlet-name>
    <url-pattern>/CompletamentoRegistrazione</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaAdmin</display-name>
    <servlet-name>PaginaAdmin</servlet-name>
    <servlet-class>servlet.PaginaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaAdmin</servlet-name>
    <url-pattern>/PaginaAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreaAbilita</display-name>
    <servlet-name>CreaAbilita</servlet-name>
    <servlet-class>servlet.CreaAbilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreaAbilita</servlet-name>
    <url-pattern>/CreaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneProposte</display-name>
    <servlet-name>GestioneProposte</servlet-name>
    <servlet-class>servlet.GestioneProposte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneProposte</servlet-name>
    <url-pattern>/GestioneProposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GestioneProposteActions</display-name>
    <servlet-name>GestioneProposteActions</servlet-name>
    <servlet-class>servlet.GestioneProposteActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneProposteActions</servlet-name>
    <url-pattern>/GestioneProposteActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonitorSistema</display-name>
    <servlet-name>MonitorSistema</servlet-name>
    <servlet-class>servlet.MonitorSistema</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorSistema</servlet-name>
    <url-pattern>/MonitorSistema</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaGuest</display-name>
    <servlet-name>PaginaGuest</servlet-name>
    <servlet-class>servlet.PaginaGuest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaGuest</servlet-name>
    <url-pattern>/PaginaGuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaGuest</display-name>
    <servlet-name>RicercaGuest</servlet-name>
    <servlet-class>servlet.RicercaGuest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaGuest</servlet-name>
    <url-pattern>/RicercaGuest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletaModificaAdmin</display-name>
    <servlet-name>CompletaModificaAdmin</servlet-name>
    <servlet-class>servlet.CompletaModificaAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletaModificaAdmin</servlet-name>
    <url-pattern>/CompletaModificaAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaginaUser</display-name>
    <servlet-name>PaginaUser</servlet-name>
    <servlet-class>servlet.PaginaUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaUser</servlet-name>
    <url-pattern>/PaginaUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiesteAmicizia</display-name>
    <servlet-name>RichiesteAmicizia</servlet-name>
    <servlet-class>servlet.RichiesteAmicizia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiesteAmicizia</servlet-name>
    <url-pattern>/RichiesteAmicizia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiesteAmiciziaActions</display-name>
    <servlet-name>RichiesteAmiciziaActions</servlet-name>
    <servlet-class>servlet.RichiesteAmiciziaActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiesteAmiciziaActions</servlet-name>
    <url-pattern>/RichiesteAmiciziaActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Amicizie</display-name>
    <servlet-name>Amicizie</servlet-name>
    <servlet-class>servlet.Amicizie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Amicizie</servlet-name>
    <url-pattern>/Amicizie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RimuoviAmicizie</display-name>
    <servlet-name>RimuoviAmicizie</servlet-name>
    <servlet-class>servlet.RimuoviAmicizie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RimuoviAmicizie</servlet-name>
    <url-pattern>/RimuoviAmicizie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Abilita</display-name>
    <servlet-name>Abilita</servlet-name>
    <servlet-class>servlet.Abilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Abilita</servlet-name>
    <url-pattern>/Abilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificaAbilita</display-name>
    <servlet-name>ModificaAbilita</servlet-name>
    <servlet-class>servlet.ModificaAbilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificaAbilita</servlet-name>
    <url-pattern>/ModificaAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProponiAbilita</display-name>
    <servlet-name>ProponiAbilita</servlet-name>
    <servlet-class>servlet.ProponiAbilita</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProponiAbilita</servlet-name>
    <url-pattern>/ProponiAbilita</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompletaModificaUser</display-name>
    <servlet-name>CompletaModificaUser</servlet-name>
    <servlet-class>servlet.CompletaModificaUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompletaModificaUser</servlet-name>
    <url-pattern>/CompletaModificaUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiesteAiuto</display-name>
    <servlet-name>RichiesteAiuto</servlet-name>
    <servlet-class>servlet.RichiesteAiuto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiesteAiuto</servlet-name>
    <url-pattern>/RichiesteAiuto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiesteAiutoActions</display-name>
    <servlet-name>RichiesteAiutoActions</servlet-name>
    <servlet-class>servlet.RichiesteAiutoActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiesteAiutoActions</servlet-name>
    <url-pattern>/RichiesteAiutoActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Aiuti</display-name>
    <servlet-name>Aiuti</servlet-name>
    <servlet-class>servlet.Aiuti</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Aiuti</servlet-name>
    <url-pattern>/Aiuti</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AiutoValutato</display-name>
    <servlet-name>AiutoValutato</servlet-name>
    <servlet-class>servlet.AiutoValutato</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AiutoValutato</servlet-name>
    <url-pattern>/AiutoValutato</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RilasciaFeedback</display-name>
    <servlet-name>RilasciaFeedback</servlet-name>
    <servlet-class>servlet.RilasciaFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RilasciaFeedback</servlet-name>
    <url-pattern>/RilasciaFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUser</display-name>
    <servlet-name>RicercaUser</servlet-name>
    <servlet-class>servlet.RicercaUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaUser</servlet-name>
    <url-pattern>/RicercaUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ricerca</display-name>
    <servlet-name>Ricerca</servlet-name>
    <servlet-class>servlet.Ricerca</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ricerca</servlet-name>
    <url-pattern>/Ricerca</url-pattern>
  </servlet-mapping>
</web-app>