@CHARSET "ISO-8859-1";

body {
	font-family: Arial;
}

#pagina {
	border: 1px solid grey;
	border-radius: 20px;
	overflow: auto;
	width: 900px;
	margin: auto;
	margin-top: 30px;
	padding: 15px;
}

#logo {
	text-align: center;
}

#messaggioConferma, #messaggioAvviso, #messaggioErrore {
	border: 1px solid grey;
	border-radius: 5px;
	margin-top: 15px;
	margin-left:15px;
	margin-right:15px;
	padding: 5px;
	font-weight: bold;
	color: white;
}

#messaggioConferma {
	background-color: #66CC00;
}

#messaggioAvviso {
	background-color: #FF9900;
}

#messaggioErrore {
	background-color: #F11111;
}

#menuAdmin {
	border: 1px solid grey;
	border-radius: 15px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	padding-bottom: 15px;
	background-color: #CFE7F5;
	overflow: auto;
}

#menuAdmin ul {
	list-style: none;
	margin-left: -40px;
}

#menuAdmin li {
	float: left;
}

#menuAdmin button {
	height: 30px;
	width: 175px;
	font-weight: bold;
	margin-left: 21px;
	margin-right: 21px;
}

#boxLeft, #boxRight, #boxCenter {
	border: 1px solid grey;
	border-radius: 15px;
	width: 360px;
	padding: 10px;
	margin: 15px;
	background-color: #CFE7F5;
}

#boxLeft {
	float: left;
}

#boxRight {
	float: right;
}

#titoloBox {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	background-color: #FFFF99;
	font-style: italic;
	font-weight: bold;
}

#informazioniBox {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

#informazioniBox input, select, textarea {
	width: 220px;
	margin-right: 10px;
}

#proposteActions {
	text-align: center;
}

#proposteActions input {
	width: auto;
	margin-right: auto;
}

#indicazioni {
	border: 1px solid grey;
	border-radius: 5px;
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
}

#infoProfilo, #altreInfoProfilo {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: auto;
}

#altreInfoProfilo {
	padding: 10px;
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
	text-align:left;
}

#avatar, #testo {
	border: 1px solid grey;
	border-radius: 5px;
	background-color: white;
	float: left;
}

#avatar {
	margin-right: 5px;
	padding: 5px;
}

#testo {
	font-size: 20px;
	margin-left: 5px;
	padding-top: 10px;
	padding-left:15px;
	text-align: left;
	width: 235px;
	height: 65px;
}

#checkAbilita input {
	width: auto;
}

#proposta input {
	width: auto;
}

#checkAbilita, #proposta, #abilita {
	text-align: left;
	overflow: auto;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

#iconaAbilita, #corpoAbilita, #corpoProposta {	
	border: 1px solid grey;
	border-radius: 5px;
	background-color: white;
	float: right;
	padding: 5px;
}

#iconaAbilita {
	margin-right: 5px;
}

#corpoAbilita {
	margin-left: 5px;
	width: 210px;
}

#abilita #corpoAbilita {
	width: 240px
}


#corpoProposta {
	width: 295px;
}

#pulsante {
	width: 200px;
	height: 30px;
	font-weight: bold;
}