@CHARSET "ISO-8859-1";

body {
	font-family: Arial;
}

#pagina {
	border: 1px solid grey;
	border-radius: 20px;
	overflow: auto;
	width: 900px;
	margin: auto;
	margin-top: 30px;
	padding: 15px;
}

#logo {
	text-align: center;
}

#messaggioConferma, #messaggioAvviso, #messaggioErrore {
	border: 1px solid grey;
	border-radius: 5px;
	margin-left:15px;
	margin-right:15px;
	padding: 5px;
	font-weight: bold;
	color: white;
}

#messaggioConferma {
	background-color: #66CC00;
}

#messaggioAvviso {
	background-color: #FF9900;
}

#messaggioErrore {
	background-color: #F11111;
}

#boxLeft, #boxRight, #boxCenter {
	border: 1px solid grey;
	border-radius: 15px;
	width: 360px;
	padding: 10px;
	margin: 15px;
	background-color: #CFE7F5;
}

#boxLeft {
	float: left;
}

#boxRight {
	float: right;
}

#titoloBox {
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	background-color: #FFFF99;
	font-style: italic;
	font-weight: bold;
}

#informazioniBox {
	text-align: right;
	margin-top: 15px;
	margin-bottom: 15px;
}

#informazioniBox input, select, textarea {
	width: 220px;
	margin-right: 10px;
}

#infoAdmin, #altreInfoAdmin {
	text-align:left;
	border: 1px solid grey;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
	width: 339px;
	overflow: auto;
}

#infoAdmin {
	margin-bottom: 5px;
}

#avatar {
	float:left;
	margin-right: 10px;
}

#testo {
	font-size: 20px;
	float:left;
	margin-left: 10px;
	padding-top: 10px;
}

#checkAbilita input {
	width: auto;
}

#checkAbilita {
	text-align: left;
	overflow: auto;
}

#iconaAbilita, #corpoAbilita {
	background-color: white;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 5px;
	float: right;
}

#iconaAbilita {
	margin-right: 10px;
}

#corpoAbilita {
	width: 220px;
	margin-left: 5px;
}

#pulsante {
	width: 150px;
	height: 30px;
	font-weight: bold;
}